.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .logo {
        display: inline-block;
        flex-grow: 1;
        text-align: center;
    }

    .right {
        position: absolute;
        right: 0;
        top: 0;
    }
}