/* You can add global styles to this file, and also import other style files */
html,body {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	border-collapse: collapse;
	border-spacing: 0;
	height: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}    
.col {
	display: inline-block;
}

@mixin bg-nr_wh-50 {
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;  
}

@mixin bg-nr_w32h25 {
    background-repeat: no-repeat;
    height: 25px;
    width: 32px;  
}